.navbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    font-size: 1.15rem;
}
.navbar__list{
    list-style-type: none;
    display: flex;
    height: 4rem;
    align-items: center;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #fff;
}
.navbar__item{
    margin: 0 2rem;
}
.navbar__item:last-of-type{
    margin-left: auto;
}
.navbar__item--mobile{
    display: none;
} 
.navbar__item-link {
    color: #212529;
    text-decoration: none;
}
.navbar__item-link--home {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 2rem;
}
.navbar__item-link:hover{
    color: #095fbb;
}
.navbar__item-btn{
    background: none;
    border: none;
    color: #353c42;
    font-size: 1.75rem;
    cursor: pointer;
    position: relative;
}
.navbar__item-btn:hover{
    color: #095fbb;
}
.navbar__item-btn-count{
    position: absolute;
    top: -0.55rem;
    right: -0.25rem;
    color: #f8f9fa;
    background: #0d7ff8;
    border-radius: 50%;
    font-size: 0.75rem;
    padding: 0.1rem 0.4rem;
    height: 1rem;
    width: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 31rem;
    width: 20rem;
    position: fixed;
    right: 0.75rem;
    margin-top: 0.5rem;
    background-color: #fff;
    padding: 1rem;
    z-index: 1;
}
.cart-container__heading{
    margin: 0;
}
.cart-container__body{
    height: 65%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cart-container__body::-webkit-scrollbar{
    display: none;
}
.cart-container__body-empty-msg{
    text-align: center;
}
.cart-container__summary{
    display: flex;
}
.cart-container_summary-total{
    font-weight: bold;
    font-size: large;
}
.cart-container_summary-price{
    margin-left: auto;
    font-weight: bold;
    font-size: large;
    color: #095fbb;
}
.cart-container__checkout{
    width: 100%;
    border: none;
    background-color: #095fbb;
    padding: 0.5rem 0;
    color: #f8f9fa;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.cart-container__checkout:hover{
    background-color: #0a3e75;
}
.cart-item{
    display: grid;
    /*
    calculating grid columns, by dividing total area on 4 columns, including column-gap,
    if there are 4 columns, there is actually 3 gaps in total,
    that's why I substract 0.75 gap value, not the full one
    */
    grid-template-columns: calc(22.5% - 0.75rem) calc(50% - 0.75rem) calc(15% - 0.75rem) calc(12.5% - 0.75rem);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: left;
    margin-bottom: 1rem;
}
.cart-item__img{
    grid-area: 1 / 1 / 2 / 2;
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
}
.cart-item__body{
    grid-area: 1 / 2 / 2 / 3;
}
.cart-item__body-action{
    display: flex;
    height: 1.5rem;
    margin-top: 0.15rem;
}
.cart-item__body-action-btn{
    aspect-ratio: 1/1;
    background: none;
    border: 0.1rem solid #adb5bd;
    padding: 0;
}
.cart-item__body-action-btn:hover:enabled{
    background-color: #dee2e6;
    cursor: pointer;
}
.cart-item__body-action-qty{
    aspect-ratio: 1/1;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 0.1rem solid #adb5bd;
    border-bottom: 0.1rem solid #adb5bd;
}
.cart-item__body-heading{
    margin: 0;
}
.cart-item__price{
    grid-area: 1 / 3 / 2 / 4;
    font-weight: bold;
    color: #095fbb;
}
.cart-item__remove{
    background: none;
    border: none;
    cursor: pointer;
    justify-self: right;
}
.cart-item__remove:hover{
    font-size: large;
}
@media screen and (max-width: 1280px) {
    .navbar__item{
        margin: 0 1.5rem;
    }
    .navbar__item-link--home{
        margin-right: 1rem;
    }
}
@media screen and (max-width: 1024px) {
    .navbar__list{
        padding: 0;
    }
    .navbar__item{
        margin: 0 1rem;
        font-size: 1rem;
    }
    .navbar__item-link--home{
        margin: 0rem;
        font-size: 1.15rem;
    }
    .navbar__item-btn{
        font-size: 1.5rem;
    }
    .navbar__item-btn-count{
        height: 0.85rem;
        width: 0.35rem;
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 768px) {
    .navbar__item--desktop{
        display: none;
    }
    .navbar__item--mobile{
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .cart-container{
        width: 90%;
        right: 0;
        left: 0;
        margin: 0.5rem auto;
    }
    .cart-item{
        grid-column-gap: 0.5rem;
        /*
        calculating grid columns, by dividing total area on 4 columns, including column-gap,
        if there are 4 columns, there is actually 3 gaps in total,
        that's why I substract 0.75 gap value, not the full one
        */
        grid-template-columns: calc(22.5% - 0.375rem) calc(50% - 0.375rem) calc(15% - 0.375rem) calc(12.5% - 0.375rem);
        font-size: 1rem;
    }
    .cart-item__remove{
        display: none;
    }
}