.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    gap: 2rem 2rem;
    margin: 3rem 8rem;
    font-size: 1.25rem;
    
}
.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.product-item__img{
    aspect-ratio: 1/1;
    width: 15rem;
    object-fit: contain;
}
.product-item__category{
    align-self: flex-start;
    margin: 0.75rem 0 0 0;
    font-size: smaller;
}
.product-item__title{
    align-self: flex-start;
    font-weight: bold;
    margin: 0;
}
.product-item__info{
    margin-top: auto;
    width: 100%;
    display: flex;
}
.product-item__info-price{
    align-self: center;
    font-weight: bolder;
    color: #095fbb ;
}
.product-item__info-rating{
    margin-left: auto;
}
.product-item__info-star{
    color: #FFBF00;
    margin-left: 0.15rem;
}
.product-item__info-add{
    width: 100%;
    border: none;
    padding: 0.75rem 0;
    background-color: #095fbb ;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.product-item__info-add:hover{
    background-color: #0a3e75;
}
.product-item__info-added{
    width: 100%;
    border: none;
    padding: 0.75rem 0;
    background-color: #285430;
    color: #fff;
    font-weight: bold;
}