.product-categories{
    width: 85%;
    margin: auto;
    display: none;
}
.categories__list{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    text-align: center;
    display: flex;
}
.category__item{
    margin: 0 1rem;
    padding-bottom: 0.5rem;
}
.category__item:first-child{
    margin-left: 0.1rem;
}
.category__item:last-child{
    margin-right: 0.1rem;
}
.category__item-link{
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    background-color: #adb5bd;
    border-radius: 12px;
    padding: 0.1rem 1rem;
    display: inline-block;
}
.category__item-link--active{
    background-color: #095fbb;
    color: #f8f9fa;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    gap: 2rem 2rem;
    margin: 3rem auto;
    font-size: 1.25rem;
    width: 85%;
}
.product-item{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.product-item__link{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-item__link:hover .product-item__title{
    color: #095fbb;
}
.product-item__img{
    aspect-ratio: 1/1;
    width: 15rem;
    object-fit: contain;
}
.product-item__category{
    align-self: flex-start;
    margin: 0.75rem 0 0 0;
    font-size: smaller;
}
.product-item__title{
    align-self: flex-start;
    font-weight: bold;
    margin: 0;
}
.product-item__info{
    margin-top: auto;
    width: 100%;
    display: flex;
}
.product-item__info-price{
    align-self: center;
    font-weight: bolder;
    color: #095fbb ;
}
.product-item__info-rating{
    margin-left: auto;
}
.product-item__info-star{
    color: #FFBF00;
    margin-left: 0.15rem;
}
.product-item__info-add{
    width: 100%;
    border: none;
    padding: 0.75rem 0;
    background-color: #095fbb ;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.product-item__info-add:hover{
    background-color: #0a3e75;
}
.product-item__info-added{
    width: 100%;
    border: none;
    padding: 0.75rem 0;
    background-color: #285430;
    color: #fff;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .product-categories{
        display: block;
    }
    .product-container{
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 480px) {
    .product-categories,
    .product-container{
        width: 95%;
    }
    .category__item{
        margin: 0 0.5rem;
    }
}    